{
    "swagger": "2.0",
    "info": {
        "description": "This is a sample server celler server.",
        "title": "Company Config Engine",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "API Support",
            "url": "http://www.swagger.io/support",
            "email": "support@swagger.io"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "companycms.nukeapp.dev",
    "paths": {
        "/cms": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "get all cms config",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "CMS Company"
                ],
                "summary": "get all cms config",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/schema.CmsConfigs"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/dto.DefaultHttpResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/dto.DefaultHttpResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/dto.DefaultHttpResponse"
                        }
                    }
                }
            }
        },
        "/cms/{companyCode}": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "get one cms config",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "CMS Company"
                ],
                "summary": "get one cms config",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Company Code",
                        "name": "companyCode",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/schema.CmsConfigs"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/dto.DefaultHttpResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/dto.DefaultHttpResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/dto.DefaultHttpResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "dto.DefaultHttpResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "object",
                    "additionalProperties": true
                },
                "message": {
                    "type": "string"
                },
                "ok": {
                    "type": "boolean"
                },
                "statusCode": {
                    "type": "integer"
                }
            }
        },
        "schema.CmsConfigs": {
            "type": "object",
            "required": [
                "companyCode"
            ],
            "properties": {
                "backgroundColor": {
                    "type": "string"
                },
                "companyCode": {
                    "type": "string"
                },
                "companyLogoUrl": {
                    "type": "string"
                },
                "createdAt": {
                    "type": "string"
                },
                "display": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "primaryColor": {
                    "type": "string"
                },
                "scope": {
                    "type": "string"
                },
                "themeColor": {
                    "type": "string"
                }
            }
        }
    },
    "securityDefinitions": {
        "BearerAuth": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    }
}